* {
    margin: 0;
    padding: 0;
}

:root {
    --cb-color: #eee; /* Background checkerboard pattern color */
    --rmenu-w: 230px;
    --rmenu-color: #1a1a1a;
}

.checkers {
    background-image:
            -moz-linear-gradient(45deg, var(--cb-color) 25%, transparent 25%),
            -moz-linear-gradient(-45deg, var(--cb-color) 25%, transparent 25%),
            -moz-linear-gradient(45deg, transparent 75%, var(--cb-color) 75%),
            -moz-linear-gradient(-45deg, transparent 75%, var(--cb-color) 75%);
    background-image:
            -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, var(--cb-color)), color-stop(.25, transparent)),
            -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, var(--cb-color)), color-stop(.25, transparent)),
            -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, var(--cb-color))),
            -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, var(--cb-color)));

    background-size: 20px 20px;
    -moz-background-size: 20px 20px;
    -webkit-background-size: 20px 21px; /* override value for shitty webkit */

    background-position: 0 0, 10px 0, 10px -10px, 0 10px;
}

#image-container {
    position: fixed;
    left: var(--rmenu-w);
    top: 0;
    width: calc(100% - var(--rmenu-w));
    height: 100%;
    z-index: -1;
}

#image-holder {
    background-color: green;
    width: calc(128px * 10);
    height: calc(128px * 10);
}

.left-menu {
    height: 100%;
    /*width: var(--rmenu-w);*/
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--rmenu-color);
    font-family: Sans-Serif;
}

ul {
    list-style: none;
}

.left-menu-title {
    box-sizing: border-box;
    color: white;
    font-size: 0.8em;
    width: 100%;
    padding: 8px;
    background-color: #111;
}

.left-menu-title div {
    display: inline-block;
}

.with-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-menu-contents {
    color: #ddd;
    font-size: 0.75em;
    padding: 8px;
}

.left-menu-contents .row {
    box-sizing: border-box;
    padding: 3px;
    padding-left: 15px;
    display: flex;
    width: 100%;
}

.value, .units {
    font-family: monospace;
    font-size: 1.1em;
    margin-left: 5px;
    color: #baf0ff;
}

.name {
    width: 80px;
}

.value {
    width:60px;
    text-align: left;
    padding: 1px;
    padding-left: 5px;
}

.value-modificable {
    background-color: #333;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 2px;
}

.units {
    width: 60px;
}

.button {
    width: 60px;
    text-align: center;
    padding: 4px;
    background-color: #3d6bba;
    border-radius: 2px;
    cursor: pointer;
    user-select: none;
}

.button:hover {
    background-color: #3957a2;
}

.button:active {
    background-color: #2a377a;
}


/**/